.country-container-wrapper {
  display: grid;
  justify-items: center;
}

.country-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem;
  gap: 4rem;
  align-items: center;
  max-width: 90rem;
  width: 100%;
}

.btn-container {
  grid-column: 1 / -1;
}

.country-detail-container {
  grid-column: 1 / -1;
  display: flex;
  gap: 8rem;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-text);
}

.country__flag-container {
  flex: 0 1 40%;
  max-width: 100%;
  height: 25rem;
}

.country__flag-img {
  flex: 0 1 50%;
  max-width: 37.5rem;
  max-height: 25rem;
  object-fit: cover;
}

.country__text-box {
  flex: 0 1 50%;
}

.country__name-container {
  grid-column: 1 / -1;
}

.country__name {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.country__detail-text-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1rem;
  column-gap: 5rem;
}

.country__detail-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  gap: 0.75rem;
}

.country__detail-type {
  font-weight: 800;
}

.country__detail-description {
  font-weight: 300;
}

.country__borders-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.country__borders {
  font-weight: 800;
  font-size: 1rem;
  align-self: center;
}

.country__border-button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;

  gap: 0.5rem;
}

.country__border-button {
  display: flex;
  border: none;
  outline: none;
  padding: 0.5rem 2rem;
  color: var(--clr-text);
  background-color: var(--clr-elements);
  text-decoration: none;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.5rem 0.1rem rgba(20, 20, 20, 0.1);
}

@media (min-width: 250px) and (max-width: 768px) {
  .country-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding: 0 0.5rem 2rem 0.5rem;
  }

  .btn-container {
    padding: 2rem 0;
  }

  .country-detail-container {
    flex-direction: column;
    gap: 2rem;
    align-items: start;
  }

  .country__flag-container {
  }

  .country__flag-img {
    width: 100%;
  }

  .country__text-box {
  }

  .country__name-container {
  }

  .country__name {
  }

  .country__detail-text-box {
    grid-template-columns: 1fr;
  }

  .country__detail-box {
    margin-bottom: 2rem;
  }

  .country__detail-type {
  }

  .country__detail-description {
  }

  .country__borders-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .country__borders {
  }

  .country__border-button-container {
  }

  .country__border-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
  }
}
