.country-container-wrapper {
  display: grid;
  justify-items: center;
}

.country-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem;
  gap: 4rem;
  align-items: center;
  max-width: 90rem;
  width: 100%;
}

.btn-container {
  grid-column: 1 / -1;
}

.country-detail-container {
  grid-column: 1 / -1;
  display: flex;
  gap: 8rem;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-text);
}

.country__flag-container {
  flex: 0 1 40%;
  max-width: 100%;
  height: 25rem;
}

.country__flag-img {
  flex: 0 1 50%;
  max-width: 37.5rem;
  max-height: 25rem;
  object-fit: cover;
}

.country__text-box {
  flex: 0 1 50%;
}

.country__name-container {
  grid-column: 1 / -1;
}

.country__name {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.country__detail-text-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1rem;
  column-gap: 5rem;
}

.country__detail-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  gap: 0.75rem;
}

.country__detail-type {
  font-weight: 600;
}

.country__detail-description {
  font-weight: 300;
}

.country__borders {
  font-weight: 600;
}

@media (max-width: 375px) {
  .country-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding: 0 1rem;
  }

  .btn-container {
    padding: 2rem 0;
  }

  .country-detail-container {
    flex-direction: column;
    gap: 2rem;
  }

  .country__flag-container {
  }

  .country__flag-img {
    width: 100%;
  }

  .country__text-box {
  }

  .country__name-container {
  }

  .country__name {
  }

  .country__detail-text-box {
    grid-template-columns: 1fr;
  }

  .country__detail-box {
    margin-bottom: 2rem;
  }

  .country__detail-type {
  }

  .country__detail-description {
  }

  .country__borders {
  }
}
