.header__navigation {
  box-shadow: 0 0.25rem 0.5rem 0.25rem rgba(70, 70, 70, 0.1);
}
.header__nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
}
.header__nav-item {
}
.heading-primary {
  font-size: 2rem;
  font-weight: 800;
}
.btn-theme-label {
  font-size: 1rem;
  font-weight: 600;
}
